<ion-header>
    <ion-row>
        <ion-icon name="close-outline" (click)="dismiss()"></ion-icon>
    </ion-row>
</ion-header>
<ion-content>
    <ion-row>
        <ion-label>
            1) Use Search Bar to search through all 30 NBA teams
        </ion-label>
    </ion-row>
    <ion-row>
        <ion-img src="/assets/help-images/search-bar.png"></ion-img>
    </ion-row>
    <ion-row>
        <ion-label>
            2) Provide parmaters for custom shot chart
        </ion-label>
    </ion-row>
    <ion-row>
        <ion-img src="/assets/help-images/parameters.png"></ion-img>
    </ion-row>
    <ion-row>
        <ion-label>
            3) Chart is generated based on the parameters provided
        </ion-label>
    </ion-row>
    <ion-row>
        <ion-img src="/assets/help-images/graph.png"></ion-img>
    </ion-row>
</ion-content>